# Eclipse specific files
/.settings/
/.project
/.classpath

# Maven specific files
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties

# Maven Wrapper files
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Test automation results
/allure-results/
/test-output/

# Logs and temp files
*.log
*.tmp

# OS specific files (optional)
.DS_Store
Thumbs.db
