<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="Suite">
	<listeners>
		<listener class-name="testsBase.AllureListeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="testsBase.BaseClass" />
			<class name="testCases.TextBoxTest" />
			<class name="testCases.RadioBoxTest" />
		</classes>
	</test>
</suite>
